<style>
    .card {
        margin-top: 80px;
        padding: 20px;
    }
</style>

<div class="card col-md-6 offset-3" ng-hide="!dn.isLog()">
    <h3>Olá {{dn.user.nome}}, você tem algo para denunciar?</h3>
    <form name="denForm">
        <div class="form-group">
            <label for="endereco">Local do problema</label>
            <input ng-required="true" ng-model="dn.denuncia.end" type="text" id="endereco" class="form-control" aria-describedby="enderecoHelp">
            <small id="enderecoHelp" class="form-text text-muted">O endereço deve ser no formato: Rua Livreiro Arlindo, 275 - Farias Brito, Fortaleza - CE, Brasil</small>
        </div>
        <div class="form-group">
            <label for="categoria" >Categoria da denúncia</label>
            <div>
                <select ng-required="true" ng-model="dn.denuncia.cat" class="form-control" id="categoria" >
                    <option value="0">Segurança</option>
                    <option value="1">Saúde</option>
                    <option value="2">Educação</option>
                    <option value="3">Acessibilidade</option>
                    <option value="4">Desperdício de água</option>
                    <option value="5">Desperdício de energia</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="desc"></label>
            <textarea ng-required="true" ng-model="dn.denuncia.desc" class="form-control" id="desc" rows="6"></textarea>
        </div>
        <div class="text-center">
        <button class="btn btn-danger text-center" type="submit" ng-click="dn.realizarDenuncia()" ng-disabled="denForm.$invalid">Registrar Denúncia</button>
        </div>
    </form>
</div>

<div class="text-center card col-md-4 offset-4" ng-hide="dn.isLog()">
    <div class="card-block">
        <h4 class="card-title">Você não está logado</h4>
            <p class="card-text">Para realizar uma denúncia você precisa esta registrado e logado em nosso sistema</p>
            <a ui-sref="login" class="card-link">Logar</a>
            <a ui-sref="registro" class="card-link">Cadastro</a>
    </div>
</div>