<style>

    .map {
        margin-top: 40px;
        height: 500px;
        margin-bottom: 100px;
        background-color: #00b3ee;
    }
    .card {
        margin-top: 10px;
    }

    .legendas {
        float: left;
        margin-top: 40px;
        height: 500px;
    }

    .leg {
        font-size: 12pt;
    }
</style>
<div class="container">
<div class="row">
    <div class="text-center">
        <div class="card col-md-10 offset-1">
            <div class="card-block">
                <h4 class="card-title">Fortaleza</h4>
                <h6 class="card-subtitle mb-2 text-muted">Ceará</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend dictum
                    neque nec sodales. Aliquam consequat dignissim sapien sit amet pharetra. Praesent vestibulum vulputate
                    libero, quis pharetra nisi ultrices in. Mauris ipsum magna, rhoncus vulputate tincidunt sit amet,
                    faucibus ut ipsum. Cras bibendum velit vitae eros feugiat blandit. Sed dapibus quam sed tellus porta
                    viverra vitae vitae ligula. Cras sed vestibulum tortor, a posuere tellus. Interdum et malesuada fames
                    ac ante ipsum primis in faucibus. Vivamus at faucibus justo.

                    Ut finibus nisi odio, sit amet elementum mauris tempor in. Donec nec maximus ante. Nam et velit
                    tincidunt, elementum libero quis, vehicula eros. Aliquam id purus nunc. Vivamus vulputate nunc orci,
                    gravida efficitur purus tempus ut. Ut maximus felis posuere leo porttitor lobortis. Sed in massa nulla.</p>
                <button ng-click="rk.loadMap(city=1)" type="submit" class="btn btn-primary">Visualizar Mapa</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9 map" id="map">
    </div>
        <div class="card legendas col-md-2 offset-1 text-center">
            <div class="card-block">
                <h4 class="card-title text-center">Legendas</h4>
                    <span class="img-lgd"><img src="assets/images/marcadores/hospital.png" height="20" width="20" alt=""><p class="leg">Saúde</p></span>
                    <span class="img-lgd"><img src="assets/images/marcadores/mortarboard.png" height="20" width="20" alt=""><p class="leg">Educação</p></span>
                    <span class="img-lgd"><img src="assets/images/marcadores/siren.png" height="20" width="20" alt=""><p class="leg">Segurança</p></span>
                    <span class="img-lgd"><img src="assets/images/marcadores/access.png" height="20" width="20" alt=""><p class="leg">Acessibilidade</p></span>
                    <span class="img-lgd"><img src="assets/images/marcadores/wate.png" height="20" width="20" alt=""><p class="leg">Desperdício de Água</p></span>
                    <span class="img-lgd"><img src="assets/images/marcadores/energy.png" height="20" width="20" alt=""><p class="leg">Desperdício de Energia</p></span>
            </div>
        </div>
    </div>
</div>